@page "/spatial-ref-sies"
@layout MainLayout
@inherits FindSupermarket.Pages.SpatialRefSiesComponent

@using Radzen
@using Radzen.Blazor
@using FindSupermarket.Models.FindSupermarketDb
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Spatial Ref Sies">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getSpatialRefSiesResult" TItem="FindSupermarket.Models.FindSupermarketDb.SpatialRefSy" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="FindSupermarket.Models.FindSupermarketDb.SpatialRefSy" Property="auth_srid" Title="Auth Srid">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FindSupermarket.Models.FindSupermarketDb.SpatialRefSy" Property="srtext" Title="Srtext">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FindSupermarket.Models.FindSupermarketDb.SpatialRefSy" Property="srid" Title="Srid">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FindSupermarket.Models.FindSupermarketDb.SpatialRefSy" Property="proj4text" Title="Proj 4 Text">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FindSupermarket.Models.FindSupermarketDb.SpatialRefSy" Property="auth_name" Title="Auth Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FindSupermarket.Models.FindSupermarketDb.SpatialRefSy" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="findSupermarketModelsFindSupermarketDbSpatialRefSy">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, findSupermarketModelsFindSupermarketDbSpatialRefSy))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
